* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  margin: 0;
}

h1 {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 0;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  margin: 0;
}

header {
  width: 90%;
  margin: auto;
}

header h2 {
  font-weight: normal;
}

img {
  width: 100%; 
}

.news-thumbs .content-card .img {
  margin-top: 10px;
}

.feature .article-tidbit {
  display: none;
}

.feature .feature-content, .content-card {
  width: 90%;
  margin: auto;
}

.feature, .news-thumbs {
  display: flex;
  flex-direction: column;
}

.feature-content {
  padding-left: 40px;
}

.feature div, .news-thumbs article {
  flex: 1;
}

.button {
  padding: 14px 26px;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  margin-bottom: 64px;
}


@media only screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 68px;
  }

  h2 {
    font-size: 32px;
    line-height: 42px;
  }

  header {
    width: 80%;
  }

  header h2 {
    font-weight: bold;
  }

  .feature, .news-thumbs {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
    margin-top: 60px;
  }

  article {
    margin-right: 30px;

  }

  article:last-child {
    margin-right: 0;
  }

  .news-thumbs {
    margin-top: 60px;
  }

  .feature .article-tidbit {
    display: block;
  }

}


@media only screen and (min-width: 2440px) {
  .feature, .news-thumbs, header {
    width: 60%;
  }

  
}