  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  @font-face {
    font-family: "Arsenal";
    src: url('fonts/Arsenal-Regular.ttf');
      format: ("tff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Montserrat";
    src: url('fonts/Montserrat-SemiBold.ttf');
  }

  @font-face {
    font-family: "Montserrat";
    src: url('fonts/Montserrat-Regular.ttf');
  }


  body {
    background-color: rgb(254, 251, 244);
    font-size: 19px;
    margin: 0;
  }

  h1 {
    font-family: Arsenal;
    src: url('fonts/Montserrat-SemiBold.ttf');
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1.5px;
    margin-bottom: -11px;
    margin-top: -35px;
    margin: auto;
  }

  h2 {
    font-family: Arsenal;
    src: url('fonts/Arsenal-Regular.ttf');
    font-size: 27px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    margin-top: 17px;
    margin: auto;
  }

  h3 {
    font-family: Arsenal;
    src: url('fonts/Arsenal-Regular.ttf');
    font-size: 30px;
    font-weight: bold;
  }

  h4 {
    font-family: Montserrat;
    src: url('fonts/Montserrat-Regular.ttf');
    font-size: 20px;
    font-weight: normal;
  }

  p {
    font-family: Montserrat;
    src: url('fonts/Montserrat-Regular.ttf');
    font-size: 16px;
    font-weight: normal;
    margin-top: 16px;
    width: 81%;
    margin: auto;
  }

  .button {
    font-family: Montserrat;
    src: url('fonts/Montserrat-SemiBold.ttf');
  }

  .quote {
    font-family: Montserrat;
    src: url('fonts/Montserrat-SemiBold.ttf');
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    margin-top: 29px;
    color: rgb(254, 251, 244);
  }

  ul li {
    font-family: url(fonts/Montserrat-Regular.ttf);
  }

  .quote-section .quote {
    padding-bottom: 69px;
  }
d
  .paragraph-tidbit {
    font-weight: normal;
    font-size: 16px;
  }

  img {
    width: 100%;
    margin-bottom: 23px;
  }

  h3 {
    width: 81%;
    margin: auto;
    margin-bottom: 31px;
    padding-top: 81px;
  }

  h4 {
    width: 91%;
    margin: auto;
    margin-top: -4px;
  }

  p {
    width: 81%;
    margin: auto;
    font-size: 19px;
    line-height: 32px;
  }

  h2,
  p,
  .content-card {
    margin-bottom: 39px;
  }

  .feature .feature-content,
  .content-card {
    margin-bottom: 56px;
  }

  .feature-content h1 {
    font-size: 13px;
    width: 80%;
  }

  .feature-content h2 {
    width: 80%;
  }

  .feature .news-thumbs {
    display: flex;
    flex-direction: column;
  }

  .news-thumbs, .feature-image {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
  }

  .content-card {
    text-align: center;
  }

  .news-thumbs h3 {
    margin-bottom: 60px;
  }

  .button {
    padding: 14px 26px;
    text-decoration: none;
    background-color: rgb(121, 127, 102);
    color: rgb(254, 251, 244);
    font-size: 20px;
    margin-right: auto;
    opacity: 1;
    transition: 0.3s;
  }

  .button:hover {
    opacity: 0.6
  }

  .footerNav {
    background-color: rgb(121, 127, 102);
    color: rgb(254, 251, 244);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 6rem;
  }

  .dot {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid rgb(254, 251, 244);
  }

  li {
    list-style: none;
    padding-bottom: 10px;
    font-family: url(fonts/Montserrat-Regular.ttf);
  }

  .footerNav .containerEmail .checkbox {
    text-align: left;
  }

/* Start of One Page Smooth Scroll */

  html,
  body,
  #page-one,
  #page-two,
  #page-three,
  #page-four {
    height: auto;
    min-height: 100vh;
  }

  #page-one,
  #page-two,
  #page-three,
  #page-four {
    padding-top: 2em;
  }

  #mobileNav {
    background-color: rgb(254, 251, 244);
    color: #ddd;
    line-height: 4em;
    padding: 0 1em;
    position: fixed;
    top: 0em;
    width: 100%;
  }

  #mobileNav a,
  #mobileNav a:hover {
    color: #eee;
    text-decoration: none;
    display: inline-block;
    padding: 0 1em;
  }

  #page-one {
    background-color: rgb(254, 251, 244);
  }
  #page-two {
    background-color: rgb(254, 251, 244);
  }
  #page-three {
    background-color: rgb(254, 251, 244);
  }
  #page-four {
    background-color: rgb(254, 251, 244);
  }

/* End of One Page Smooth Scroll */

/* Start hamburger nav */
  body {
    margin: 0;
    font-family: Arsenal;
    width: 100vw;
    height: 100vh;
    animation: bugfix infinite 1s;
    -webkit-animation: bugfix infinite 1s;
    text-align: left;
  }

  #logo {
    font-size: 18px;
    float: left;
    display: flex;
  }

  .logo .overlay {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  @keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
  @-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
  #overlay-button {
    position: absolute;
    right: 2em;
    top: 3em;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
  }
  #overlay-button span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: rgb(121, 127, 102);
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  #overlay-button span:before {
    top: -10px;
    visibility: visible;
  }
  #overlay-button span:after {
    top: 10px;
  }
  #overlay-button span:before,
  #overlay-button span:after {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: rgb(121, 127, 102);
    position: absolute;
    content: "";
    transition: all 0.2s ease-in-out;
  }
  #overlay-button:hover span,
  #overlay-button:hover span:before,
  #overlay-button:hover span:after {
    background: rgb(254, 251, 244);
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ #overlay {
    visibility: visible;
  }

  input[type="checkbox"]:checked ~ #overlay-button:hover span,
  input[type="checkbox"]:checked ~ #overlay-button span {
    background: transparent;
  }
  input[type="checkbox"]:checked ~ #overlay-button span:before {
    transform: rotate(45deg) translate(7px, 7px);
    opacity: 1;
  }
  input[type="checkbox"]:checked ~ #overlay-button span:after {
    transform: rotate(-45deg) translate(7px, -7px);
  }

  #overlay {
    height: fit-content;
    width: 100vw;
    background: rgb(121, 127, 102);
    z-index: 2;
    visibility: hidden;
    position: fixed;
    display: inline;
    bottom: 2.25rem;
    left: -0.2rem;
    cursor: pointer;
  }

  .mobileNav .overlay {
    color: rgb(254, 251, 244);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    opacity: 1;
  }


  #overlay.active {
    visibility: visible;
  }

  #overlay ul {
    top: 50%;
    position: relative;
    opacity: 1;
    flex-direction: column;
    text-align: right;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
    margin-right: 1.5rem;
    bottom: -18.75rem;
    line-height: 31px;
  }

  #overlay ul li {
    padding: 1em;
  }

  #overlay ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }

  #overlay ul li a:hover {
    color: #333332;
  }


/* End of Hamburger Nav */

/* Start of Instagram grid */

.instagram {
  margin-bottom: 8rem;
}

.insta-grid {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 31px;
}

.insta-grid img {
  width: 100%;
}

.insta-grid div {
  flex: 33%;
}

.centered-button {
  text-align: center;
}
/* End of Instagram grid */

/* Start of Newsletter */
.container {
  padding: 20px;
  text-align: center;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: rgb(254, 251, 244);
  color: rgb(121, 127, 102);
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.checkbox {
  text-align: left;
}
/* End of Newsletter */


/* For Desktop */

@media only screen and (min-width: 768px) {
/* Start of Homepage */
  .feature-home {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
  }

  .feature-home .feature-content {
    padding-left: 3rem;
  }

  .feature-content h1 {
    margin-top: 7rem;
    font-size: 11px
  }

  .feature-content h2 {
    font-size: 25px
  }

/* End of Homepage */

  .feature .feature-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
  }

/* Start of Photos */
  .news-thumbs .img {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
  }

  .news-thumbs article {
    flex: 1;
  }


/* Start of Page Two */
  #page-two {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
  }

  #page-two.feature-image {
    width: 101rem;
    margin-top: 11rem;
  }
 
  #page-two .feature-content h3 {
    padding-top: 9rem;
    margin: revert;
  }

  #page-two .feature-content p {
    margin: revert;
    font-size: 20px;
  }

/* End of Page Two */

/* Start of Page Three */
}

/* Start of Page Three */

@media only screen and (min-width: 1440px) {
  .feature-home .feature-content {
    padding-left: 5rem;
  }

  .feature-content h1 {
    margin-top: 14rem;
    font-size: 21px
  }

  .feature-content h2 {
    font-size: 42px
  }

  .quote-section .quotation {
    padding-top: 9rem;
  }

  .quote-section .quote {
    padding-bottom: 9rem;
    font-size: 51px;
    line-height: 73px;
  }
}