* {
  box-sizing: border-box;
  }

body {
  background-color: rgb(254,251,244);
  font-size: 16px;
  margin: 0;
  }

h1 {
  font-size: 13px;
  font-weight: normal;
  }

h1 {
  margin-bottom: -11px;
  margin-top: -35px;
  }

h2 {
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 17px;
  }

h3 {
  font-size: 30px;
  font-weight: bold;
  }

h4 {
  font-size: 27px;
  font-weight: normal;
  text-align: center;
  }

p {
  font-size: 16px;
  font-weight: normal;
  margin-top: 16px;
  }

.paragraph-tidbit {
  font-weight: normal;
  font-size: 16px;
  }

img {
  width: 100%;
  margin-bottom: 23px;
  }

h3 {
  width: 91%;
  margin: auto;
  margin-bottom: 31px;
  }

h4 {
  width: 91%;
  margin: auto;
 }

p {
  width: 91%;
  margin: auto;
  font-size: 24px;
  line-height: 32px;
}
  
h2, h5, p, .content-card {
  margin-bottom: 39px;
  }

.feature .feature-content, .content-card, .button {
  width: 91%;
  margin: auto;
  }

.feature .feature-content, .content-card {
  margin-bottom: 56px;
  }

.feature .news-thumbs {
  display: flex;
  flex-direction: column;
  }

.content-card {
  text-align: center;
  }

.button {
  padding: 14px 26px;
  text-decoration: none;
  background-color: rgb(121,127,102);
  color: rgb(254,251,244);
  font-size: 20px;
  }

/* One Page Smooth Scroll */

html, body, #page-one, #page-two, #page-three, #page-four {
	height:auto;
	min-height: 100vh;
  }

#page-one, #page-two, #page-three, #page-four {padding-top:2em;}

#mainNav {
  background-color: rgb(254,251,244);
  color: #ddd;
  line-height:4em;
  padding:0 1em;
  position:fixed; 
  top: 0em; 
  width:100%; 
  }

#mainNav {
  a, a:link, a:visited, a:hover, a:active {
    color: #eee; 
    text-decoration: none;
    display: inline-block;
    padding: 0 1em;
  }

  a:hover {color: #4861A2;}


#page-one {background-color:rgb(254,251,244);}
#page-two {background-color:rgb(254,251,244);}
#page-three {background-color:rgb(254,251,244);}
#page-four {background-color:rgb(254,251,244);}
/* End ofOne Page Smooth Scroll */

/* For hamburger nav */
body {
  background: #87cc77;
  margin: 0;
  font-family: arial;
  width: 100vw;
  height: 100vh;
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}

@keyframes bugfix { from {padding:0;} to {padding:0;}}
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}

#overlay-button {
  position: absolute;
  right: 2em;
  top: 3em;
  padding: 26px 11px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
  span {
      height: 4px;
      width: 35px;
      border-radius: 2px;
      background-color: white;
      position: relative;
      display: block;
      transition: all .2s ease-in-out;
      &:before {
        top: -10px;
        visibility: visible;
      }
      &:after {
        top: 10px;
      }
      &:before, &:after {
          height: 4px;
          width: 35px;
          border-radius: 2px;
          background-color: white;
          position: absolute;
          content: "";
          transition: all .2s ease-in-out;
      }
    }
    &:hover span, &:hover span:before, &:hover span:after {
      background: #333332;
    }
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ #overlay {
  visibility: visible;
}

input[type=checkbox]:checked ~ #overlay-button {
  &:hover span, span{
    background: transparent;
  }
  span {
    &:before {
      transform: rotate(45deg) translate(7px, 7px);
      opacity: 1;
    }
    &:after {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

#overlay {
  height: 100vh;
  width: 100vw;
  background: #ec6451;
  z-index: 2;
  visibility: hidden;
  position: fixed;
  &.active {
    visibility: visible;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
    li {
      padding: 1em;
      a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
        &:hover {
          color: #333332;
        }
      }
    }
  }
}

/* For Desktop */

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1200px) {
}