* {
  box-sizing: border-box;
}
@font-face {
  font-family: Arsenal;
  src: url(fonts/Arsenal-Regular.ttf);
}

body {
  background-color: rgb(254, 251, 244);
  font-size: 16px;
  margin: 0;
}

h1 {
  font-family: Arsenal;
  src: url(fonts/Montserrat-SemiBold.ttf);
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1.5px;
  margin-bottom: -11px;
  margin-top: -35px;
  width: 91%;
  margin: auto;
}

h2 {
  font-family: Arsenal;
  src: url(fonts/Arsenal-Regular.ttf);
  font-size: 32px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  margin-top: 17px;
  width: 91%;
  margin: auto;
}

h3 {
  font-family: Arsenal;
  src: url(fonts/Arsenal-Regular.ttf);
  font-size: 30px;
  font-weight: bold;
}

h4 {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Regular.ttf);
  font-size: 27px;
  font-weight: normal;
  text-align: center;
}

p {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Light.ttf);
  font-size: 16px;
  font-weight: normal;
  margin-top: 16px;
}

.button {
  font-family: Montserrat;
  src: url(fonts/Montserrat-SemiBold.ttf);
}

.quote {
  font-family: Montserrat;
  src: url(fonts/Montserrat-SemiBold.ttf);
  text-align: center;
  font-size: 24px;
}

.paragraph-tidbit {
  font-weight: normal;
  font-size: 16px;
}

img {
  width: 100%;
  margin-bottom: 23px;
}

h3 {
  width: 91%;
  margin: auto;
  margin-bottom: 31px;
}

h4 {
  width: 91%;
  margin: auto;
}

p {
  width: 91%;
  margin: auto;
  font-size: 19px;
  line-height: 32px;
}

h2,
p,
.content-card {
  margin-bottom: 39px;
}

.feature .feature-content,
.content-card {
  width: 91%;
  margin: auto;
}

.feature .feature-content,
.content-card {
  margin-bottom: 56px;
}

.feature .news-thumbs {
  display: flex;
  flex-direction: column;
}

.content-card {
  text-align: center;
}

.button {
  padding: 14px 26px;
  text-decoration: none;
  background-color: rgb(121, 127, 102);
  color: rgb(254, 251, 244);
  font-size: 20px;
}

/* One Page Smooth Scroll */

html,
body,
#page-one,
#page-two,
#page-three,
#page-four {
  height: auto;
  min-height: 100vh;
}

#page-one,
#page-two,
#page-three,
#page-four {
  padding-top: 2em;
}

#mainNav {
  background-color: rgb(254, 251, 244);
  color: #ddd;
  line-height: 4em;
  padding: 0 1em;
  position: fixed;
  top: 0em;
  width: 100%;
}

#mainNav a,
#mainNav a:hover {
  color: #eee;
  text-decoration: none;
  display: inline-block;
  padding: 0 1em;
}

a:hover {
  color: #4861a2;
}

#page-one {
  background-color: rgb(254, 251, 244);
}
#page-two {
  background-color: rgb(254, 251, 244);
}
#page-three {
  background-color: rgb(254, 251, 244);
}
#page-four {
  background-color: rgb(254, 251, 244);
}
/* End ofOne Page Smooth Scroll */

/* For hamburger nav */
body {
  background: #87cc77;
  margin: 0;
  font-family: arial;
  width: 100vw;
  height: 100vh;
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}

@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
#overlay-button {
  position: absolute;
  right: 2em;
  top: 3em;
  padding: 26px 11px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}
#overlay-button span {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color: white;
  position: relative;
  display: block;
  transition: all 0.2s ease-in-out;
}
#overlay-button span:before {
  top: -10px;
  visibility: visible;
}
#overlay-button span:after {
  top: 10px;
}
#overlay-button span:before,
#overlay-button span:after {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color: white;
  position: absolute;
  content: "";
  transition: all 0.2s ease-in-out;
}
#overlay-button:hover span,
#overlay-button:hover span:before,
#overlay-button:hover span:after {
  background: #333332;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ #overlay {
  visibility: visible;
}

input[type="checkbox"]:checked ~ #overlay-button:hover span,
input[type="checkbox"]:checked ~ #overlay-button span {
  background: transparent;
}
input[type="checkbox"]:checked ~ #overlay-button span:before {
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}
input[type="checkbox"]:checked ~ #overlay-button span:after {
  transform: rotate(-45deg) translate(7px, -7px);
}

#overlay {
  height: 100vh;
  width: 100vw;
  background: #ec6451;
  z-index: 2;
  visibility: hidden;
  position: fixed;
}
#overlay.active {
  visibility: visible;
}
#overlay ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding-left: 0;
  list-style-type: none;
}
#overlay ul li {
  padding: 1em;
}
#overlay ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
#overlay ul li a:hover {
  color: #333332;
}
/* For Desktop */

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1200px) {
}
