/*
font-family: 'Oxygen', Sans-Serif;
font-size: 46px;
font-family: 'Noto Serif', Serif;
Ffont-size: 16px;
*/

h1 {
  font-family: 'Oxygen'; Sans-serif;
  position: auto;
  border:black
}

.dot-one {
  height: 200px;
  width: 200px;
  background-color: #504f30;
  border-radius: 100px;
  display: inline-block;
  margin: 139px 70px;
}

.dot-two {
  height: 200px;
  width: 200px;
  background-color: rgb(201,192,163);
  border-radius: 200%;
  display: inline-block;
  margin: 139px 70px;
}

.dot-three {
  height: 200px;
  width: 200px;
  background-color: rgba(177,144,113,1);
  border-radius: 200%;
  display: inline-block;
  margin: 139px 70px;
}

.dot-four {
  height: 200px;
  width: 200px;
  background-color: #fae7c7;
  border-radius: 200%;
  display: inline-block;
  margin: 139px 70px;
}

body {
  margin: 0;
}
