/*
font-family: 'Catamaran', Sans-Serif;
font-size: 48px;
font-family: 'Merriweather Sans', Sans-Serif;
font-size: 15px;
*/


* {
	box-sizing: border-box;
}

body {
	font-family: 'Monda', sans-serif;
	font-size: 15px;
}

.line {
	width: 700px;
	height: 47px;
	border-bottom: 1px solid black;
	position: 
	
}


h1 {
	font-family: 'Catamaran'; Sans-Serif;
	font-size: 90px;
	margin: 0;
	writing-mode: horizontal-tb;
	text-orientation: upright;
}

h2 {
	font-size: 60px;
	font-family: 'Merriweather Sans', sans-serif;
}

h3 { 
	font-family:'Merriweather Sans', sans-serif;
}

h4 {
	font-family:'Merriweather Sans', sans-serif;
}

h5 {
	font-family:'Merriweather Sans', sans-serif
}

p {
	line-height: 32px;
}

main {
	width: 80%;
	margin: auto;
	position: relative;
	margin-right: -100px;
}

.line {
	width: 500px;
	height: 47px;
	border-bottom: 1px solid black;
	position: unset;

}

div {
	border:
}